body{
    background-color: navajowhite;
}
thead{
    font-family: Times New Roman;
}
table, th, td {
    border: 1px solid black;
    padding: 10px;

}
th, td {
    padding: 10px;
}
h1{
    font-family: Courier New;
    text-align: center;
}


